{% extends 'post_detail.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center mt-4">
  <div style="width: ">
    {% block form %}
    <form class="form" action="add_post" method="POST">
      {% csrf_token %}
      <label for="title" class="form-label">Title of post</label>
      <input type="text" name="title" required class="form-control">
      <label for="content" class="form-label">Content</label>
      <textarea name="content" rows="8" cols="80" required class="form-control"></textarea>
      <div class="row text-center d-block mt-4">
        <input type="submit" class="btn btn-success " value="Publish">
      </div>
    </form>
    {% endblock %}
  </div>

</div>

{% endblock %}
