{% extends 'index.html' %}

{% block header %}
<div class="row container-flex w-100 text-center justify-content-end bg-light text-dark fixed-top mb-4" style="height:150px">
  <h1 class="display-5 mt-5">BLOG POST - REGISTER</h1>
</div>
{% endblock %}


{% block content %}
<div class="text-center">
  {% for message in messages %}
  <h5 class="text-danger">{{message}}</h5>
  {% endfor %}
</div>
<div class="container d-flex justify-content-center align-items-center mt-4">
  <div style="width: 300px">
    {% block form %}
    <form class="form" action="register" method="POST">
      {% csrf_token %}
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" required class="form-control">
      <label for="email" class="form-label">Email</label>
      <input type="text" name="email" required class="form-control">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" required class="form-control">
      <label for="password_confirm" class="form-label">Confirm password</label>
      <input type="password" name="password_confirm" required class="form-control">
      <div class="row text-center d-block mt-4">
        <input type="submit" class="btn btn-success ">
      </div>
      <p class="mt-2">already have an account? <a href="login">login</a></p>
    </form>
    {% endblock %}
  </div>

</div>

{% endblock %}
